# Ignore local module configurations
*.local.sh#
.cursor
/.venv
/__pycache__
/gitstar/models

/net-commander
*.bak
CLAUDEMASTER.md
CLAUDE.md
*.pyc
/.config/
/.state/
/lib/
/logs/
/tests/markov_test/

/.ipc/

__pycache__/
**/target/
*.o
indexer/indexer_daemon
sentinel_indexer/indexer_daemon
net/c/simple_test
net/c/test_memshadow
